<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./styles/home.css" rel='stylesheet' type='text/css'>
    <title>Python Login System</title>
</head>
<body>
    <main>
        <div class="main-container">
            <h1>Welcome to a Python-Django Login System</h1>
            <div class="form-container">
                <span>Are you already a member?</span>
                <div class="start-btns">
                    <div class="btnY">
                            <button class="btn btn-login">YES, Continue to Log In</button>
                    </div>
                    <div class="btnN">
                            <button class="btn btn-signup">NO, I want to Sign Up</button>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-info col1">
            </div>

            <div class="footer-info col2">
            </div>

        </div>

    </footer>
    
</body>
</html>