<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./styles/login.css" rel='stylesheet' type='text/css'>
    <title>Python Login System</title>
</head>
<body>
    <main>
        <div class="main-container">
            <h1>Welcome to a Python-Django Login System</h1>
            <div class="login-container">
                <div class="login-header">
                    <span class="label">Log In Page</span>

                </div>

                <div class="login-form">
                    <form method="post">
                        <div class="txt_field username-input">
                            <input type="text">
                            <span></span>
                            <label for="">Username</label>
                        </div>
                        <div class="txt_field password-input">
                            <input type="password">
                            <span></span>
                            <label for="">Password</label>
                        </div>
                        <input type="submit" class="login-btn" value="Log In">
                        <div class="signup-label">
                            Do not have an account? <a class="signup" href="#"> Sign Up.</a>
                        </div>
                    
                    </form>
                </div>

            </div>

        </div>
    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-info col1">
            </div>

            <div class="footer-info col2">
            </div>

        </div>

    </footer>
    
</body>
</html>