<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./styles/signup.css" rel='stylesheet' type='text/css'>
    <title>Python Login System</title>
</head>
<body>
    <main>
        <div class="main-container">
            <h1>Welcome to a Python-Django Login System</h1>
            <div class="signup-container">
                <div class="signup-header">
                    <span class="label">Sign Up Page</span>

                </div>

                <div class="signup-form">
                    <form method="post" action="home.html">
                        <div class="txt_field username-input">
                            <input type="text">
                            <span></span>
                            <label for="">Email</label>
                        </div>
                        <div class="txt_field username-input">
                            <input type="text">
                            <span></span>
                            <label for="">Username</label>
                        </div>
                        <div class="txt_field password-input">
                            <input type="password">
                            <span></span>
                            <label for="">Password</label>
                        </div>
                        <div class="txt_field confirm-password-input">
                            <input type="password">
                            <span></span>
                            <label for="">Confirm Password</label>
                        </div>
                        <input type="submit" class="signup-btn" value="Sign Up">
                        <div class="login-label">
                            Already registered? <a class="login" href="#"> Log In.</a>
                        </div>
                    
                    </form>
                </div>

            </div>

        </div>
    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-info col1">
            </div>

            <div class="footer-info col2">
            </div>

        </div>

    </footer>
    
</body>
</html>